.body{
	background-image: url("../img/most_tlo.jpg");

}


.tytul {
	color: black;
	text-align: center;
	font-size: 70px;
	background: #fff1e6;
}

.table{
	border: 1px solid lightgrey;
	background-color: #90b4d3;
}

.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	background-color: #99c1de;
	color: white;
	text-align: center;
	padding: 15px;
}

.nav{
	float: left;
	background-color: #d6e2e9;
	width: 140px;
	padding: 10px;
	min-height: 800px;
}

.content{
	float: left;
	padding: 10px;
	width: 660px;
	background-color: #f0efeb ;
	font-family: sans-serif;
	overflow-y: auto;
	height: 800px;
}
.ad{
	float: left;
	width: 140px;
	min-height: 800px;
	padding: 10px;
	background-color: #d6e2e9;
}
.footer{
	clear: both;
	background-color: #99c1de;
	color: white;
	text-align: center;
	padding: 20px;
}

.test-block{
	width: 200px;
	border: 2px solid rgba(71, 236, 30, 1);
	background: rgba(71, 236, 30, 0.7);
	text-align: center;
	color: #000;
	padding: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

